.colored { width: 100%; height:4px; overflow:hidden; position:relative; top:0px; left:0px ;}
.colored div{ height:4px; width:20%; float:left;}
.blue{background-color: #327EA3;}
.aqua {background-color: #4CA5D0;}
.green{ background-color: #6CA338;}
.yellow {background-color: #FFBC38;}
.red {background-color: #E82C0C;}
